html,
body {
  padding: 0;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

#mapid {
  height: 100%;
  z-index=-1
}
/* Technically there are two map titles, on the left and on the right,
 * at all times. On a big screen, map title in the right column is not
 * displayed. On a mobile device, title in the right column is shown with 0
 * opacity, so that search, locate, and zoom buttons do not overlay the title,
 * creating an effect as if the title is located on top, and not the left column.
 */
.leaflet-right .map-title { display: none; }

@media only screen and (max-width: 760px) {
  .leaflet-right .map-title {
    display: block;
    opacity: 0;
  }

  .leaflet-left .map-title {
    width: 98%;
  }
}

.map-title {
  margin-top: 0 !important;
  margin-bottom: 10px;
  max-width: 450px;
  z-index:1
}
